{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>Adres</h3>
<address>
    Nellekensstraat 114<br />
    1750 Lennik, Belgium<br />
    <abbr title="Telefoonnummer">T:</abbr>
    0477335499
</address>
<h3>Contacteer mij</h3>
<address>
    <strong>E-mail:</strong>   <a href="mailto:tom.saccasyn@gmail.com">tom.saccasyn@gmail.com</a><br />
    <strong>School e-mail:</strong>   <a href="mailto:tom.saccasyn@student.ehb.be">tom.saccasyn@student.ehb.be</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/tom-saccasyn-188220173/">LinkedIn Profiel Tom Saccasyn</a>
</address>

{% endblock %}
