{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Curriculum Vitae</h1>
    <p></p>
</div>

<div class="row">
    <h2>Over mij</h2>

    <div class="col-md-6">

        <p>
            Ik ben Tom Saccasyn, geboren in Jette. <br/>
            Ik woon momenteel in Sint-Kwintens-Lennik(meerbepaald in de gemeente Eizeringen) te Vlaams-Brabant.<br/>
            Ik ben geboren op 7 oktober 1997.
        </p>
        <p>
            Ik ben een laatstejaarsstudent aan de Erasmushogeschool Brussel.<br/>
            Ik volg nu stage in SpotIt in Merelbeke.<br/>
            <br/>
            Ik ben een man.<br/>
            Ik ben ook een belg.
        </p>
    </div>
    <div class="col-md-6">
        <img src="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/11179944_851029914980028_7404195777021898527_n.jpg?_nc_cat=101&_nc_ht=scontent-bru2-1.xx&oh=987df6c139f8d13d004e0976c16550b4&oe=5D036226" alt="Foto Tom Saccasyn" width="200px" height="286px" />
    </div>
    <h3>Historiek van scholen</h3>
    <div class="col-md-12">
        <table border="1">
            <tr>
                <th>Jaren</th>
                <th>Plaats</th>
            </tr>
            <tr>
                <td>2008-2010</td>
                <td>1 ste graad Moderne (Middenschool Sint-Angela)</td>
            </tr>
            <tr>
                <td>2011-2013</td>
                <td>2 de graad Handel (Don Bosco Instituut Groot-Bijgaarden)</td>
            </tr>
            <tr>
                <td>2013-2015</td>
                <td>3 de graad Informaticabeheer (Don Bosco Instituut Groot-Bijgaarden)</td>
            </tr>
            <tr>
                <td>2015-heden</td>
                <td>Bachelor Toegepaste Informatica : Networks & Security Dig-X (Erasmus Hogeschool Brussel)</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <p></br></p>
        <p><h3>Talenkennis</h3></p>
        <p>
            <ul>
                <li><strong>Nederlands:</strong> moedertaal</li>
                <li><strong>Frans:</strong> vloeiend begrijpen, schrijven en spreken</li>
                <li><strong>Engels:</strong> vloeiend begrijpen, schrijven en spreken</li>
            </ul>
        </p>
    </div>

    <div class="col-md-12">
        <p><br /></p>
        <p><br /></p>
        <p><h3>Computervaardigheden</h3></p>

        <div class="col-md-4">
            <p><h4>Tools &  Applicaties:</h4></p>
            <p>
                HTML, Javascript, PHP,, CSS, Ajax <br />
                Adobe, Dreamweaver , Adobe Flash, MS-Office<br/> 
                MS-office professional, Windows 7, WordPress, Drupal<br/>
                ASP.NET, Cisco apparatuur, Java, C#.NET, XML, C++
            </p>
        </div>
        <div class="col-md-4">
            <p><h4>Besturingssystemen:</h4></p>
            <p>
                <ol>
                    <li>MS-DOS</li>
                    <li>Windows</li>
                    <li>Apple</li>
                    <li>Centos</li>
                    <li>Android</li>
                    <li>Linux</li>
                </ol>
            </p>
        </div>
        <div class="col-md-4">
            <p><h4>Databases:</h4></p>
            <p>SQL meerbepaald MySql</p>
        </div>
    </div>
</div>
<div class="row">
    <p><p><h3>Hobbies:</h3></p>
    
    <p>Ik was de webmaster van de vlaamse judo federatie in Vlaams-Brabant tot voor kort maar dit is momenteel overgenomen omdat ik te weinig tijd heb.<br/>
    Een andere hobby is judo, ik heb hier ook dit jaar tijdelijk mee gestopt. Ik was blauwe gordel toen ik stopte maar ik kon mijn examen doen voor bruine gordel.<br/>
    Voor meer informatie over de website van de vlaamse judo federatie van Vlaams-Brabant kan u op volgende link klikken: <br />
    </p>
        <p><a href="https://www.vjf.be/">Website vlaamse judo federatie</a> <br/>
    </p>
        <p>Voor meer informatie over de gradaties in judo: <br/><br/>
    <img src="http://judo-mauritius.weebly.com/uploads/8/2/3/8/82380362/7593915.jpg?207" /></p>
    
    
    </div>
    </div>






</div>
<div class="col-md-12">
    <p></p>
    <a href="../static/content/CV.pdf">Klik hier om te kijken naar de pdf versie van de CV</a>
</div>
<!--
<div class="col-md-4">
    <h2>Get more libraries</h2>
    <p>The Python Package Index is a repository of software for the Python programming language.</p>
    <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>Microsoft Azure</h2>
    <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
    <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
</div>-->
</div>

<!--<embed src="../static/content/CV.pdf" width="800px" height="2100px" />-->
{% endblock %}
