{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Site Tom Saccasyn</h1>
    <p class="lead">Dit is een site bedoeld om meer informatie te geven over de Curriculum Vitae.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Curriculum Vitae</h2>
        <p><a class="btn btn-default" href="curriculumvitae">Klik hier voor meer info</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schoolprojecten</h2>
        <p><a class="btn btn-default" href="schoolprojecten">Klik hier voor meer info</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p><a class="btn btn-default" href="about">Klik hier voor meer info</a></p>
    </div>
</div>

{% endblock %}
