{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<p>Klik op een van de foto's om meer informatie hierover te verkrijgen.</p>
<div class="row">
    <div class="col-md-4">
        <a href="https://github.com/tomsaccasyn"><img src="https://avatars0.githubusercontent.com/u/9919?s=280&v=4" width="150px" height="150px"/></a>
    </div>
    <div class="col-md-4">
        <a href="https://github.com/tomsaccasyn/ProjectNetworkDesign"><img src="http://www.technologyuk.net/telecommunications/networks/images/bus_topology.gif" width="250px" height="150px"/></a>
    </div>
    <div class="col-md-4">
        <a href="https://github.com/tomsaccasyn/Tom_Saccasyn_S2IT_werkstuk1"><img src="https://developer.apple.com/swift/images/swift-og.png" width="150px" height="150px"/></a>
    </div>
    
</div>

    {% endblock %}
